.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #2E294E; /* green */
  border-radius: 50%;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(46, 41, 78, 0.25); /* pink, 25% opacity */
}

.cutText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
